{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Conductor</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleVistaConductor.css' %}">
</head>
<body>
    <div class="super-wrapper">
        <div class="mini-wrapper">
            <button class="boton-menu-desplegable" title="Menu Usuario">
                <img src="{% static 'images/menu-regular-24.png' %}" alt="Logo Inacap" class="bx bx-menu" title="Menu desplegable">
                <box-icon name='menu' color='#ffffff' ></box-icon>
            </button>
            <h1>Registrar mi Destino</h1>
            <button class="boton-notificacion" title="Notificaciones(En construccion)"><i class='bx bx-bell'></i></button>
        </div>

        <!-- Mueve el menu-desplegable aquí, fuera del botón -->
        <nav class="menu-desplegable">
            <ul>
                <li><a href="#" onclick="window.location.href='{% url 'perfilUsuarioConductor' %}'" style="cursor: pointer;">Perfil</a></li>
                <li><a href="#" onclick="window.location.href='{% url 'destinoConductor' %}'" style="cursor: pointer;">Mis Destinos</a></li>
                <li><a href="#" id="Menu-configuracion">Configuracion</a></li>
                <li><a href="#" id="Menu-acc">Accesibilidad (En Construccion)</a></li>
                <li><a href="#" style="color: red;" id="Cerrar-sesion">Cerrar Sesion</a></li>
            </ul>
        </nav>

        <div class="wrapper">
            <div class="side-bar">
                <form method="post" id="form-viaje" action="/registrarViaje/">
                    {% csrf_token %}
                    <input type="hidden" name="conductor_id" value="{{ request.user.id }}">
                    <div class="input-box">
                        <h2>Comuna destino</h2>
                        <select class="input-destino" id="destino-form" placeholder="Seleccione comuna destino" title="Seleccione destino donde se dirige" name="destino" required>
                            <option value="" disabled selected>Seleccione comuna destino</option>
                            <option value="Arauco">Arauco</option>
                            <option value="Cañete">Cañete</option>
                            <option value="Chiguayante">Chiguayante</option>
                            <option value="Concepción">Concepción</option>
                            <option value="Contulmo">Contulmo</option>
                            <option value="Coronel">Coronel</option>
                            <option value="Curanilahue">Curanilahue</option>
                            <option value="Florida">Florida</option>
                            <option value="Hualpén">Hualpén</option>
                            <option value="Hualqui">Hualqui</option>
                            <option value="Lebu">Lebu</option>
                            <option value="Los Álamos">Los Álamos</option>
                            <option value="Lota">Lota</option>
                            <option value="Penco">Penco</option>
                            <option value="San Pedro de la Paz">San Pedro de la Paz</option>
                            <option value="Santa Juana">Santa Juana</option>
                            <option value="Talcahuano">Talcahuano</option>
                            <option value="Tomé">Tomé</option>
                            <option value="Tirúa">Tirúa</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <h2>Cupos</h2>
                        <input class="input-cupos" type="number" id="cupos-form" placeholder="Ingrese cupos disponibles" title="Ingresar cantidad de cupos disponibles" maxlenght="1" name="cupos" required>
                    </div>
                    <div class="input-box">
                        <h2>Estacionamiento de salida</h2>
                        <select class="input-lugar-salida" id="lugar-salida-form" title="Recuerda que debes salir desde uno de los estacionamientos" name="origen" required>
                            <option value="" disabled selected>Seleccione un estacionamiento</option>
                            <option value="Estacionamiento Torre A">Estacionamiento Torre A</option>
                            <option value="Estacionamiento Torre B">Estacionamiento Torre B</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <h2>Hora viaje</h2>
                        <input class="input-hora-salida" type="time" id="hora-salida-form" title="Ingresar hora de salida" placeholder="Ingrese hora de salida" name="hora">
                    </div>
                    <div>
                        <button class="boton-guardar" type="submit">Guardar</button>
                    </div>    
                    {% if error %}
                    <div class="alert alert-danger" id="error-message" style="color: red;" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                </form>
                <div class="footer-wrapper">
                    <button class="boton-footer" onclick="window.location.href='{% url 'destinoConductor' %}'">Mis Destinos</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal que se activa al clickear cerrar sesion, donde pregunte si desea ¿cerrar sesion? -->
    <div class="modal fade" id="modal-cerrar-sesion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cerrar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Desea cerrar sesión?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form method="post" action="/CerrarSesion/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                    </form>
                </div>    
            </div>
        </div>        
    </div>

    <!--Modal que muestra configuracion de la aplicacion-->
    <div class="modal fade" id="modal-configuracion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Configuración</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Configuración de la aplicación</p>
                    
                    <!-- Selección de idioma -->
                    <div class="mb-3">
                        <label for="select-idioma" class="form-label">Idioma:</label>
                        <select id="select-idioma" class="form-select">
                            <option value="es">Español</option>
                            <option value="en">Inglés</option>
                            <option value="pt">Portugués</option>
                        </select>
                    </div>
    
                    <!-- Activar/desactivar notificaciones -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="notificaciones" checked>
                        <label class="form-check-label" for="notificaciones">
                            Activar notificaciones (En Construccion)
                        </label>
                    </div>
    
                    <!-- Cambiar contraseña -->
                    <div class="mb-3">
                        <button class="btn btn-outline-primary" type="button" id="cambiar-password">
                            Cambiar contraseña
                        </button>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-outline-danger" type="button" id="eliminar-cuenta">
                            Eliminar cuenta
                        </button>
                    </div>
    
                    <!-- Información de la aplicación -->
                    <div class="mb-3">
                        <p>Versión de la aplicación: 1.0.0</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>


 <!-- Modal para cambiar contraseña -->
    <div class="modal fade" id="modal-cambiar-password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar Contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="user" method="post" id="form-cambiar-contraseña">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password-actual" class="form-label">Contraseña actual:</label>
                            <input type="password" id="password-actual" class="form-control" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="password-nueva" class="form-label">Nueva contraseña:</label>
                            <input type="password" id="password-nueva" class="form-control" name="password_nueva" required>
                        </div>
                        <div class="mb-3">
                            <label for="password-confirmar" class="form-label">Confirmar contraseña:</label>
                            <input type="password" id="password-confirmar" class="form-control" name="confirmar_password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" id="error-message" style="color: red;" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--Modal para eliminar cuenta-->
    <div class="modal fade" id="modal-eliminar-cuenta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Cuenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="user" method="post" id="form-eliminar-cuenta">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password-actual" class="form-label">Contraseña actual:</label>
                            <input type="password" id="password-actual" class="form-control" name="password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar cuenta</button>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" id="error-message" style="color: red;" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-acc">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Accesibilidad(En Construccion)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Opciones de accesibilidad(En Construccion)</p>
    
                    <!-- Modo Claro/Oscuro -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="modo-claro">
                        <label class="form-check-label" for="modo-claro">
                            Modo Claro
                        </label>
                    </div>
                    <!-- Modo Daltonismo -->
                    <div class="mb-3">
                        <label for="select-daltonismo" class="form-label">Modo Daltonismo:</label>
                        <select id="select-daltonismo" class="form-select">
                            <option value="ninguno" selected>Ninguno</option>
                            <option value="protanopia">Protanopia</option>
                            <option value="deuteranopia">Deuteranopia</option>
                            <option value="tritanopia">Tritanopia</option>
                        </select>
                    </div>
        
                    <!-- Asistente de Voz para Ciegos -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="asistente-voz">
                        <label class="form-check-label" for="asistente-voz">
                            Habilitar Asistente de Voz
                        </label>
                    </div>
        
                    <!-- Aumentar Tamaño de Fuente -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="aumentar-fuente">
                        <label class="form-check-label" for="aumentar-fuente">
                            Aumentar Tamaño de Fuente
                        </label>
                    </div>
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="guardar-accesibilidad">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>


    

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

<script>
const botonMenu = document.querySelector('.boton-menu-desplegable');
const menuDesplegable = document.querySelector('.menu-desplegable');
const wrapper = document.querySelector('.wrapper');

botonMenu.addEventListener('click', () => {
    console.log('Botón de menú clickeado'); // Verifica si el evento se ejecuta
    menuDesplegable.classList.toggle('show'); // Alterna la clase 'show' para mostrar/ocultar el menú

    // Alterna la visibilidad del wrapper
    if (menuDesplegable.classList.contains('show')) {
        wrapper.style.display = 'none';
    } else {
        wrapper.style.display = 'block';
    }
});
</script>

<script>
    document.getElementById('Menu-acc').addEventListener('click', function(){
        $('#modal-acc').modal('show');
    });
</script>

<script>
    document.getElementById('Cerrar-sesion').addEventListener('click', function(){
        $('#modal-cerrar-sesion').modal('show');
    });
</script>

<script>
    document.getElementById('Menu-configuracion').addEventListener('click', function(){
        $('#modal-configuracion').modal('show');
    });
</script>

<script>
    document.getElementById('cambiar-password').addEventListener('click', function(){
        $('#modal-cambiar-password').modal('show');
    });
</script>

<script>
    document.getElementById('eliminar-cuenta').addEventListener('click', function(){
        $('#modal-eliminar-cuenta').modal('show');
    });
</script>

<script>
    document.getElementById('modo-claro').addEventListener('change', function() {
    const isChecked = this.checked;
    if (isChecked) {
        document.body.classList.add('modo-claro'); // Añade la clase para modo claro
    } else {
        document.body.classList.remove('modo-claro'); // Quita la clase para modo claro
    }


});

document.getElementById('guardar-accesibilidad').addEventListener('click', function() {
    $('#modal-acc').modal('hide');
});


</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('form-cambiar-contraseña');

        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío estándar del formulario

            const formData = new FormData(form);

            fetch('/CambiarContraseña/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Éxito',
                        text: data.message + ', ahora serás redirigido a la página principal',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.href = "{% url 'login' %}"; // Reemplazar por la URL de la página principal
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Ocurrió un error al procesar la solicitud. Inténtalo nuevamente.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('form-eliminar-cuenta');

        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío estándar del formulario

            const formData = new FormData(form);

            fetch('/EliminarCuenta/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Éxito',
                        text: data.message + ', ahora serás redirigido a la página de inicio de sesión',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.href = "{% url 'VistaInicioDeSesion' %}"; // Redirigir a la URL de inicio de sesión
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Ocurrió un error al procesar la solicitud. Inténtalo nuevamente.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        });
    });
</script>


</html>